annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
beautifulsoup4==4.14.3
certifi==2026.2.25
charset-normalizer==3.4.6
click==8.3.1
fastapi==0.135.2
feedparser==6.0.12
h11==0.16.0
idna==3.11
joblib==1.5.3
nltk==3.9.4
numpy==2.4.4
pydantic==2.12.5
pydantic_core==2.41.5
regex==2026.3.32
requests==2.33.0
scikit-learn==1.8.0
scipy==1.17.1
sgmllib3k==1.0.0
soupsieve==2.8.3
starlette==1.0.0
threadpoolctl==3.6.0
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
uvicorn==0.42.0
